/* @font-face {
    font-family: price;
    src: url(./Pricedown\ Bl.otf);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: popins;
}
.content{
    /* height: 100vh; */
    width: 100%;
    padding-bottom: 100px;
    /* background-color: whitesmoke; */
    transition: all;
    transition-duration: 0.4s;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.checkbox1{
    display: none;
}
.moon{
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    /* float: right; */
    display: none;
    cursor: pointer;
    animation: move 1s 1;
}
@keyframes move {
    0%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    100%{
        transform: rotate(360deg);
        transform-origin: center;
    }
    
}
.sun{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.rotate{
    animation: rotate 5s infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        transform-origin: center;
    }
    
}
/* .moon:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotate(360deg);
} */
.checkbox2{
    display: none;
}
input[type=checkbox]:checked ~ .content{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
}
input[type=checkbox]:checked ~ .content a{
    color: whitesmoke;
}
input[type=checkbox]:checked ~ .sun{
    display: none;
}
input[type=checkbox]:checked ~ .moon{
    display: block;
}


header{
    /* margin: 20px 0; */
}
.hero{
    margin-top: 100px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
}
.brandname{
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
    font-family: price;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.nav-items{
    display: inline-block;
    list-style-type: none;
}
.nav-item{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
.nav-link{
    font-size: 20px;
}
section{
    margin: 50px 100;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px 100px;
}
.img-container{
    border: 5px solid black;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow:
        0 0 25px 10px gray,
        0 20px 40px 10px rgba(0, 0, 0, 0.4);
    animation: movement 5s infinite;
}
@keyframes movement {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translate(0);
    }
}
img{
    width: 100%;
    height: 100%;
}
.intro{
    align-self: center;
}
.intro h1{
    margin: 50px 0;
    font-size: 50px;
    font-family: price;
}
.intro p{
    margin: 50px 0;
    line-height: 30px;
    font-size: larger;
}
.btn{
    background-color: rgba(0, 0, 0, 0.87);
    color: whitesmoke;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
.scroll{
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: down 2s infinite;
}
.scroll p{
    margin: 10px 0;
}
@keyframes down {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
    
}
.section2{
    margin: 50px 100px;
}
.skills{
    margin-top: 20px;
    text-align: center;
}
.skills h1{
    font-size: 50px;
    font-family: price;
    margin: 20px;
}
.skills p{
    font-size: larger;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}
.card h1{
    font-size: 30px;
    margin-top: 0;
    margin: 10px 0;
}
.fa-code{
    font-size: 30px;
}
.card p{
    font-size: 15px;
}
.card p span{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 2px 5px;
}
.card:hover{
    transition: all;
    transition-duration: 0.7s;
    transform: scale(1.06);
    color: black;
    background-color: rgb(255, 248, 248);
    box-shadow:
        0 0 25px gray,
        0 20px 40px rgba(0, 0, 0, 0.4);
}

.experience-section{
    margin: 100px 100px;
}
.experience{
    /* text-align: center; */
}
.expheading{
    font-family: price;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 50px;
    margin-top: 0;
    margin: 30px 0;
    text-align: center;
}
.expcontent{
    font-size: larger;
    text-align: center;
    margin: 30px 0;
}
.exp-card{
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
}
.cardhead{
    display: flex;
    justify-content: space-between;
}
.expmainhead{
    font-size: 40px;
    margin: 10px 0;
    /* font-family: 'Courier New', Courier, monospace; */
}
.expsubhead{
    margin: 10px 0;
}
.expspan{
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding:2px 5px;
}
.expskills{
    margin: 10px 0;
}
.exp-card:hover{
    transition: all;
    transition-duration: 0.7s;
    transform: scale(1.06);
    color: black;
    background-color: rgb(255, 248, 248);
    box-shadow:
        0 0 25px gray,
        0 20px 40px rgba(0, 0, 0, 0.4);
}




.contact{
    margin: 50px 100px;
}
.contacthead{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}
.contactpara{
    font-size: larger;
    text-align: center;
    margin: 30px 0;
}
.contacts{
    display: flex;
    justify-content: space-between;
}
.contact1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
}
.contact-card{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}
.contact-card:hover{
    transition: all;
    transition-duration: 0.7s;
    transform: scale(1.06);
    color: black;
    background-color: rgb(255, 248, 248);
    box-shadow:
        0 0 25px gray,
        0 20px 40px rgba(0, 0, 0, 0.4);
}
.cardheading{
    font-size: 30px;
}
.cardpara{
    font-size: large;
    letter-spacing: 2px;
}
.contact2head{
    margin: 10px 0;
}
.contact2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
input{
    border: none;
    background-color: rgba(128, 128, 128, 0.281);
    padding: 10px 20px;
    border-radius: 10px;
    height: 50px;
}
input[type = submit]{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    font-weight: bold;
}


footer{
    text-align: center;
}
.footerhead{
    font-size: 30px;
    margin: 10px 0;
}
.para1{
    font-size: large;
}
.para2{
    margin-top: 20px;
}



