@font-face {
    font-family: price;
    src: url(./Pricedown\ Bl.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    height: 100vh;
    width: 100%;
    /* background-color: whitesmoke; */
    transition: all;
    transition-duration: 0.4s;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.checkbox1{
    display: none;
}
.moon{
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    /* float: right; */
    display: none;
    cursor: pointer;
    animation: move 1s 1;
}
@keyframes move {
    0%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    100%{
        transform: rotate(360deg);
        transform-origin: center;
    }
    
}
.sun{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.rotate{
    animation: rotate 5s infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        transform-origin: center;
    }
    
}
/* .moon:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotate(360deg);
} */
.checkbox2{
    display: none;
}
input[type=checkbox]:checked ~ .content{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
}
input[type=checkbox]:checked ~ .content a{
    color: whitesmoke;
}
input[type=checkbox]:checked ~ .sun{
    display: none;
}
input[type=checkbox]:checked ~ .moon{
    display: block;
}


header{
    /* margin: 20px 0; */
}

.container{
    display: flex;
    justify-content: space-between;
}
.brandname{
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
    font-family: price;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.nav-items{
    display: inline-block;
    list-style-type: none;
}
.nav-item{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
.nav-link{
    font-size: 20px;
}
section{
    margin: 50px 0;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px 100px;
}
.img-container{
    border: 5px solid black;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    
}
img{
    width: 100%;
    height: 100%;
}
.intro{
    align-self: center;
}
.intro h1{
    margin: 50px 0;
    font-size: 50px;
    font-family: price;
}
.intro p{
    margin: 50px 0;
    line-height: 30px;
    font-size: larger;
}
.btn{
    background-color: rgba(0, 0, 0, 0.87);
    color: whitesmoke;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}
